.slider-home {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #13171f;
  background: radial-gradient(ellipse at center, #1b232c 0%, #13171f 65%, #13171f 100%);
}

.sh_cont {
  width: 100%;
  height: 100%;
}

.sh_slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.sh_slide img {
  position: absolute;
  width: 50%;
  max-width: 600px;
  z-index: 1;
  animation: backfront-move 9.25s infinite;
}

.sh_slide h1 {
  position: absolute;
  letter-spacing: -0.02em;
  font-size: 170px;
  color: #2dc8dc;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  animation: backfront-h1-move 9.25s infinite;
}

.sh_slide h2 {
  position: absolute;
  font-size: 16px;
  margin-top: 90px;
  color: #FFF;
  font-weight: 400;
  z-index: 3;
}

.sh_slide a {
  position: absolute;
  margin-top: 140px;
  font-weight: 400;
  color: #FFF;
  background-color: transparent;
  padding: 20px 40px;
  border: 1px solid #2dc8dc;
  border-radius: 20px;
  z-index: 4;
}

.sh_slide a:hover {
  background: #2dc8dc;
}

.sh_slide-fixed {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.sh_slide-fixed img {
  position: absolute;
  height: 80%;
  width: auto;
  max-height: 1000px;
  animation: const-move 9.25s infinite;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding: 0 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: default;
  z-index: 5;
}

.header h1 {
  letter-spacing: 0em;
  font-size: 28px;
  color: #2A6275;
  font-weight: 600;
}

.header hr {
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #52EAED;
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
}

.footer img {
  height: 14px;
  width: auto;
  padding-right: 8px;
  margin-bottom: -3px;
}

.footer p, .footer a {
  color: #9ba3af;
  font-weight: 400;
}

.footer p {
  margin-right: 10px;
}

@keyframes const-move {
  0% {
    margin-left: -10px;
    transform: rotate(0deg) scale(1);
  }
  33% {
    margin-left: 0px;
    transform: rotate(6deg) scale(1.05);
  }
  66% {
    margin-left: 10px;
    transform: rotate(-10deg) scale(0.95);
  }
  100% {
    margin-left: -10px;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes giro-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes backfront-move {
  0% {
    transform: scale(0.8, 0.8);
  }
  20% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

@keyframes backfront-h1-move {
  0% {
    transform: scale(0.9, 0.9);
  }
  20% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1.04, 1.04);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
