

// Variables

$dark-a: #13171f;
$dark-b: #1b232c;

$neon-a: #2dc8dc;
$neon-b: #5af3f5;
$neon-c: #2e6b80;


// Slider

.slider-home {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: $dark-a;
	background: radial-gradient(ellipse at center, $dark-b 0%, $dark-a 65%, $dark-a 100%);
}

.sh_cont {
	width: 100%;
	height: 100%;
}

.sh_slide {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		position: absolute;
		width: 50%;
		max-width: 600px;
		z-index: 1;
		
		animation: backfront-move 7s infinite;
	}

	h1 {
		position: absolute;
  		letter-spacing: -0.02em;
		font-size: 170px;
		color: $neon-a;
		font-weight: 600;
		text-align: center;
		z-index: 2;
		
		animation: backfront-h1-move 7s infinite;
	}

	h2 {
		position: absolute;
		font-size: 16px;
		margin-top: 95px;
		color: #FFF;
		font-weight: 400;
		z-index: 2;
	}

	a {
		position: absolute;
		margin-top: 140px;
		font-weight: 400;
		color: #FFF;
		background-color: transparent;
		padding: 20px 40px;
		border: 1px solid $neon-a;
		border-radius: 20px;
		z-index: 3;

		&:hover {
			background: $neon-a;
		}
	}

}

.sh_slide-fixed {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		position: absolute;
		height: 80%;
		width: auto;
		max-height: 1000px;

		animation: const-move 8s infinite;
	}

}



// Animations CSS

@keyframes const-move {
	0% {
		margin-left: -10px;
		transform : rotate(0deg) scale(1);
	}
	33% {
		margin-left: 0px;
		transform : rotate(6deg) scale(1.05);
	}
	66% {
		margin-left: 10px;
		transform : rotate(-10deg) scale(0.95);
	}
	100% {
		margin-left: -10px;
		transform : rotate(0deg) scale(1);
	}
}

@keyframes backfront-move {
	0% {
		transform: scale(.8, .8);
	}
	20% {
		transform: scale(1, 1);
	}
	80% {
		transform: scale(.9, .9);
	}
	100% {
		transform: scale(1.2, 1.2);
	}
}

@keyframes backfront-h1-move {
	0% {
		transform: scale(.9, .9);
	}
	20% {
		transform: scale(1, 1);
	}
	80% {
		transform: scale(1.05, 1.05);
	}
	100% {
		transform: scale(1.2, 1.2);
	}
}